# Compiled stuff
cluebotng
create_ann
create_bayes_db
print_bayes_db
core

# Config stuff
bot/cluebot-ng.config.php
relay_irc.conf.js
relay_redis.conf.js

# Dynamic stuff
bot/oftenvandalized.txt
bot/titles.txt
data/*.db

# Editor
.idea/
*.iml

# Temp stuff
*.py[co]
bot/vendor

# Stuff on tools
*.so*
titles.txt
oftenvandalized.txt
