# Compiled stuff
cluebotng
create_ann
create_bayes_db
print_bayes_db

# Config stuff
bot/cluebot-ng.config.php
relay_irc.conf.js
relay_redis.conf.js

# Dynamic stuff
bot/oftenvandalized.txt
bot/titles.txt
data/

# Editor
.idea/
*.iml

# Stuff on tools
*.so*
oftenvandalized.txt
core