<?php
	class Config {
		public static $user = 'ClueBot NG';
		public static $pass = null;
		public static $status = 'auto';
		public static $angry = false;
		public static $owner = 'Cobi';
		public static $friends = 'ClueBot,DASHBotAV';
		
		public static $mysqlhost = '';
		public static $mysqlport = 3306;
		public static $mysqluser = '';
		public static $mysqlpass = '';
		public static $mysqldb = '';

        public static $rep_mysqlhost = '';
        public static $rep_mysqlport = 3306;
        public static $rep_mysqluser = '';
        public static $rep_mysqlpass = '';
        public static $rep_mysqldb = '';
		
		public static $udpport = 3334;
		public static $coreport = 3565;
		
		public static $fork = true;
		public static $dry = false;
		
//		public static $proxyhost = null;
//		public static $proxyport = null;
//		public static $proxytype = null;
	}
?>
